<launch>
	<!-- Open DJI camera -->
	<node pkg="dji_camera" type="dji_camera_node" name="dji_camera" output="screen">
		<param name="camera_info_url" value="package://dji_camera/calibration_files/zenmuse_x3.yaml"/>
		<param name="camera_name" value="zenmuseX3"/>
		<param name="camera_frame_id" value="dji_camera"/>
		<param name="is_mono" type="bool" value="true"/>
		<param name="transfer" type="bool" value="true"/>
	</node>
	
	<!-- Start AR tag search -->	
	<arg name="marker_size" default="11.6" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/jetyak_uav_vision/dji_camera/image_raw" />
	<arg name="cam_info_topic" default="/jetyak_uav_vision/dji_camera/camera_info" />
	<arg name="output_frame" default="/dji_camera" />
	<arg name="bundle_files" default="$(find jetyak_uav_utils)/res/twotagbundle.xml"/>

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" 
		  args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)"
	/>
	
	<!-- Start the gimbal controller -->
	<include file="$(find dji_gimbal_control)/launch/gimbalControl.launch"/>
</launch>
