<launch>
	<!-- Start recording the flight log data -->
	<node pkg="rosbag" type="record" name="flight_log_bagfile" output="screen"
		  args="record -o /media/ubuntu/Manifold/FlightLog/flightData /ar_pose_marker /dji_sdk/attitude /dji_sdk/battery_state /dji_sdk/flight_control_setpoint_generic /dji_sdk/flight_status /dji_sdk/gimbal_angle /dji_sdk/gimbal_angle_cmd /dji_sdk/gimbal_speed_cmd /dji_sdk/gps_health /dji_sdk/gps_position /dji_sdk/height_above_takeoff /dji_sdk/imu /dji_sdk/local_frame_ref /dji_sdk/local_position /dji_sdk/rc /dji_sdk/velocity /dji_sdk/vo_position /joy /tag_pose /jetyak_uav_utils/behavior_cmd"
	/>
</launch>
